<!DOCTYPE html>
<html>
<head>
	<title>Привет</title>
</head>
<style type="text/css">
	form{
		margin: 0 auto;
    	width: 200px;
	}
	input, select{
		display: block;
		margin-bottom: 15px;
	}
	#desc{
		height: 200px;
		width: 200px;
	}
</style>
<body>
	<h1>Form</h1>
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		        {% for message in messages %}
		            <p style="color:red">{{ message }}</p>
		        {% endfor %}
		    {% endif %}
		{% endwith %}
	<hr>
{% block form %}

{% endblock %}
</body>
</html>